<li>
  <%= link_to gravatar_for(journal.user, size: 50), journal.user %>
  <span class="user"><%= link_to journal.user.name, journal.user %></span>
  <span class="content">
    <strong><em><%= journal.title %></em></strong>
    <span class="timestamp">
      Posted <%= time_ago_in_words(journal.created_at) %> ago.
    </span>
    <pre><%= journal.content %></pre>
  </span>
</li>
